* {
	background: #777;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	margin: 10px auto;
}

body {
	width: 960px;
	margin-top: 0;

}

header {
	padding: 30px;
	background: #ebebeb;
	color: grey;
	margin-top: 0px;
}

nav {
	padding: 30px;
	background: #ebebeb;
	color: grey;
}

section {
	float: left;
	width: 495px;
	background: #ebebeb;
	color: grey;
	padding-top: 30px;
	padding-bottom: 30px;
	height: 200px;
	
}

article {
	margin: 10px;
	padding: 15px;
	color: white;
}

div {
	padding: 15px;
	background: #ebebeb;
	color: grey;
	font-weight: bold;
}

p {
	padding: 15px;
	background: #ebebeb;
	color: grey;
}

aside {
	float: right;
	width: 47%;
	background: #ebebeb;
	color: grey;
	padding-top: 30px;
	height: 230px;
}


footer {
	clear: both;
	padding: 30px;
	background: #ebebeb;
	color: grey;
}